
.author{
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 50px;
  border-bottom: 1px solid rgb(96, 23, 129);

}

.author_name {
  margin: 0 auto;
  font-size: 20px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.author_name:hover {
  color: rgb(185, 183, 183);
}

.synopsis {
  font-size: 40px;
  color: white;
  padding-bottom: 30px;
  text-align: center;
}

.presentation h1 {
  font-size: 35px;
}

.presentation p {
  width: 350px;
  font-size: 20px;
  padding: 0 30px 0 30px;
}



.chapters {
  background-image: linear-gradient(rgb(83, 20, 127), rgb(211, 15, 131));
  overflow-y: auto;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.725);
  width: 420px;
  height: 400px;
}


/* Barra de rolagem */
.chapters::-webkit-scrollbar {
  width: 10px;
  /* Largura da barra */
  height: 10px;
}

.chapters::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

/* Polegar da barra (a parte que desliza) */
.chapters::-webkit-scrollbar-thumb {
  background: rgb(83, 20, 127);
  border-radius: 5px;
}

/* Polegar ao passar o mouse */
.chapters::-webkit-scrollbar-thumb:hover {
  background: rgba(82, 20, 127, 0.625);
}

/* Barra no estado ativo (quando clicada) */
.chapters::-webkit-scrollbar-thumb:active {
  background: rgb(211, 15, 131);
}


.chapters_title {
  font-size: 20px;
  padding: 20px;
  color: white;
  font-weight: normal;
}