.container {
  margin: 0 auto;
  margin-block: 40px;
  padding: 0px 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 800px;
  justify-content: center;

}

.catalog__link-work {
  display: block;
  width: 210px;
  height: 300px;
  padding: 10px;

}

.catalog__img {
  width: 210px;
  height: 300px;
  margin-bottom: 40px;
  border-radius: 3px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.595);
  transition: scale 0.3s, box-shadow 0.1s;
}

.catalog__img:hover {
  box-shadow: 0px 0px 10px blueviolet;
  scale:1.1;
  cursor: pointer;
}


/* Publicar Obra */
.publish {
  max-width: 800px;
  height: 200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.publish__link {
  display: block;
  background-color: white;
  width: 300px;
  padding: 20px;
  text-align: center;
  border: 5px solid blueviolet;
  text-decoration: none;
  color: blueviolet;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 30px;
  transition: background-color 0.5s;
}

.publish__link:hover {
  background-color: rgb(237, 236, 236);
}

